
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap");
.bg-app{
    background-color: #182845;
}
a {
  text-decoration: none !important;
}


.btn-trans{
    background-color: transparent;
    color:white;
}
.toolBar{
    height: 12vh;
    /* background: #182845; */
}
.toolbarRight{
    width: 70%;
    text-align: right;
}
.page1BodyContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #282828;
    padding:2rem .75rem 0 .75rem;
    position: relative;
    font-family: "Inter", sans-serif;
    margin-top: 2.8rem;
}
.page1BodyContainerLight{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;
    /* height: 90vh; */
    padding:2rem .5rem 0 .5rem;
    
    position: relative;
    font-family: "Inter", sans-serif;
}
.rocketImg{
    margin-left:-80px;
    width: 160px;
    margin-bottom: -33px;
}

.cFont{
    font-family: "Inter", sans-serif !important;
    font-weight: lighter !important;
}
.cFontLight{
    font-family: "Inter", sans-serif !important;
    font-weight: lighter !important;
    color: rgba(0, 0, 0, 0.877);
}

.color2{
    color:white;
    font-weight: lighter !important;
}
.color2Light{
    color:#939393;
    font-weight: lighter !important;
}
.color2 p {
    font-size: 16pt;
}
.color2Light p {
    font-size: 16pt;
}

.rect1{
    background-image: url(../images/page1/VectorObject.png);
    background-position: center;
    background-size: cover;
    border-radius: 24px;
    padding: 1rem 2rem 0 !important;
    position: relative;
    height: 20rem;
    z-index: 10;
}
.rect1Light{
    background-image: url(../images/page1/VectorObjectlight.png);
    background-position: center;
    background-size: cover;
    border-radius: 24px;
    background-color: rgba(238, 238, 238, 0.4);
    padding: 1rem 2rem;
    position: relative;
    z-index: 10;
}
.launchBtn_container {
    margin-right: 0.625rem;
}

.launchBtn{
    background-color: #393939 !important;
    color:white !important;
    opacity: 50% !important;
    font-size: 16pt !important;
    padding: 0.5rem 2rem !important;
}
.launchBtnLight{
    background-color: #868686 !important;
    color:white !important;
    opacity: 50% !important;
    font-size: 16pt !important;
    padding: 0.5rem 2rem !important;
}

.unlockbtn_gra{
    background: linear-gradient(to left, #555555 0%, #b5b5b5 100%) !important;
    color:white !important;
    font-size: 16pt !important;
    padding: 0.5rem 2rem !important;
}

.unlockbtn_graLight{
    background: linear-gradient(to left, #393939 0%, #8a8a8a 100%) !important;
    color:white !important;
    font-size: 16pt !important;
    padding: 0.5rem 2rem !important;
}

.wallet_arrow {
    font-size: 30px !important;
}

.rect2{
    background-image: url(../images/page1/farming-bg.png);
    background-color: #3535357e;
    background-position: center;
    background-size: cover;
    border-radius: 1.5rem;
    padding: 5rem 0;
    
}
.rect2Light{
    background-image: url(../images/page1/farming-bg-light.png);
    background-position: center;
    background-size: cover;
    background-color: rgb(222,223,225,.9);
    border-radius: 1.5rem;
}
.bgDCB{
    background-color: #c2c2c21a;
    padding:.5rem;
    border-radius: 0.625rem;
}
.rect3{
    background-color: #3535356e;
    background-image: url(../images/page1/hot-farm-bg.png);
    background-position: center;
    background-size: auto;
    border-radius: 1.5rem;
    
    padding: 3rem 3rem;
    position: relative;
    z-index: 10;
}
.rect3Light{
    background-color: #dadada;
    background-image: url(../images/page1/hot-farm-bg-light.png);
    background-position: center;
    background-size: auto;
    border-radius: 1.5rem;
    background-color: rgb(222,223,225,.9);
    padding: 3rem 3rem;
    position: relative;
    z-index: 10;
}
.rect4{
    background-color: #35353560;
    background-image: url(../images/page1/cool-pools-bg.png);
    background-position: center;
    background-size: cover;
    border-radius: 24px;
    
    padding: 3rem 3rem;
    position: relative;
    z-index: 10;
}
.rect4Light{
    background-color: rgba(19, 34, 62, 0.4);
    background-image: url(../images/page1/cool-pools-bg-light.png);
    background-position: center;
    background-size: cover;
    border-radius: 24px;
    
    padding: 3rem 3rem;
    position: relative;
    z-index: 10;
}
.rect5{
    background-color: #222222;
    background-position: center;
    background-size: cover;
    border-radius: 24px;
    padding: 2rem 1rem;
    position: relative;
    z-index: 10;
}
.rect5Light{
    background-color: #dadada;
    background-position: center;
    background-size: cover;
    border-radius: 24px;
    padding: 2rem 1rem;
    position: relative;
    z-index: 10;
}
.rect5-item1{
    width: 100%;
    background-color: #282828;
    padding:1rem 1rem;
    display: flex;
    justify-content: space-between;
}
.rect5-item1Light{
    width: 100%;
    background-color: #d2d2d2;
    padding:1rem 1rem;
    display: flex;
    justify-content: space-between;
}
.rect5-item2{
    background-color:#1d1d1d;
    padding:1rem 1rem;
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.rect5-item2Light{
    background-color:#b5b5b5;
    padding:1rem 2rem;
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.dot_img {
    position: absolute;
    right:0px;
    top: -10rem;
    z-index: 15;
    width: 40rem;
}

.newsLetter{
    background: linear-gradient(to right, #2fabe6, #07528f);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* margin-left: -2rem;
    margin-right: -2rem; */
    padding:3rem 2rem;
    margin-top: 3rem;
}
.fs-lg{
    font-size: 24px !important;
}




/* footer css ----- */

.footer_container {
	background-color:var(--bg-footer) ;
    padding-left: 2rem;
}

._2CnzWZ7-9CkSBh7Czhrq7O {
	margin: 0 auto;
	max-width: 1220px;
	padding: 76px 20px 0;
	position: relative;
	z-index: 1;
	padding-bottom: 96px;
}

._2CnzWZ7-9CkSBh7Czhrq7O {
	padding-bottom: 96px;
	padding-top: 76px;
}
._1taTtc7XhIMqvwCgfnppti {
	color: #bec2cb;
	font-size: 25px;
	line-height: 1.6;
	margin: 0 0 39px;
}
.xKGRxEZ58RoSqMJGbrrq6 {
	grid-gap: 60px 40px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(-webkit-min-content, 265px));
	grid-template-columns: repeat(auto-fit, minmax(min-content, 265px));
	justify-content: space-between;
}

._3jt2oztRe9u2DB6DlqqmE_ {
	grid-gap: 24px;
	display: grid;
	grid-template-columns: repeat(5, 56px);
}

._2AYjj8ChaxuGx00GqNpb3u {
	align-items: center;
	background: #0d1d36;
	border-radius: 50%;
	color: #fff;
	display: grid;
	height: 56px;
	justify-content: center;
	transition: 0.1s ease-in-out;
	width: 56px;
}
._2AYjj8ChaxuGx00GqNpb3u:hover {
	opacity: 0.66;
}
/* ._2AYjj8ChaxuGx00GqNpb3u img {
	filter: var(--filter-invert);
} */

.RmujUMsYkKkkuRY8eS296 {
	grid-gap: 19px;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.RmujUMsYkKkkuRY8eS296 a {
	align-items: center;
	display: flex;
	font-size: 18px;
	font-weight: 600;
	justify-content: space-between;
	line-height: 1.45;
	color: #fff;
	width: 100%;
}
.RmujUMsYkKkkuRY8eS296 a img {
	transition: 0.1s ease-in;
}
.RmujUMsYkKkkuRY8eS296 a:hover {
	text-decoration: none;
}
.RmujUMsYkKkkuRY8eS296 a:hover img {
	transform: translateX(3px);
}

.nEVyhRp2L427W-NvwfPEX {
	color: #878787;
	margin: 53px 0 0;
}

._3d4_tKssgilyA1Tcp3MBFt {
	text-decoration: underline;
	color: #fff;
}

.trade__3nosP {
	margin: 0 auto;
	max-width: 1220px;
	padding: 150px 20px 0;
	position: relative;
	z-index: 1;
}
/* .footer_container{
    margin-left: -3rem;
    margin-right: -3rem;
} */

.rect1bgImage{
    position: absolute;
    width: 100%;
    left:-20px;
    z-index: 3;
}
.spider {
    position: absolute;
    right: 0px;
    z-index: 3;
    width: 200px;
}

.cubeImage{
    position: absolute;
    bottom:40px;
    left:-20px;
    z-index: 3;
    width: 5rem;
}
.cubeImage1{
    z-index: 3;
    width: 3.75rem;
    margin-top: -50px;
}
.cubeImage2{
    position: absolute;
    top:-10px;
    left:0px;
    z-index: 3;
    width: 2.5rem;
}
.cubeImage4{
    position: absolute;
    bottom:-10px;
    right:0px;
    z-index: 3;
    width: 5rem;
}

.rightImg{
    position: absolute;
    width: 100%;
    right: 10px;
    z-index: 2;
}

.slide{
    width: 100%;
    /* background-color: #13223e; */
    margin:40px;
    padding:20px;
    text-align: left !important;
}
.slideLight{
    width: 100%;
    background-color: #e9eaea;
    margin:40px;
    padding:20px;
    text-align: left !important;
}
.carousel .slider-wrapper{
    width: 100%;
    overflow: hidden;    
}
.slider{
    background-color: transparent;
}

.carousel .slide{ background-color: transparent; }
.swipe1{
    background-color: #23355780;
}
.swipe1Light{
    background-color: #b8b8b880;
}

.VZN_btn {
    border-color: #fff !important;
    font-size: 16pt !important;
    margin-right: 2.0rem !important;
}

.wallet_btn {
    background: linear-gradient(to left, #555555 0%, #b5b5b5 100%) !important;
    font-size: 16pt !important;
    margin-right: 0.5rem !important;
    border-radius: 7px !important;
}

.wallet_btnLight {
    background: linear-gradient(to left, #393939 0%, #8a8a8a 100%) !important;
    font-size: 16pt !important;
    margin-right: 0.5rem !important;
    border-radius: 7px !important;
}

.beginner_btn {
    background: linear-gradient(to left, #555555 0%, #b5b5b5 100%) !important;
    font-size: 16pt !important;
    border-radius: 7px !important;
    padding: 0.8rem 2.5rem !important;
}
.beginner_btnLight {
    background: linear-gradient(to left, #393939 0%, #8a8a8a 100%) !important;
    font-size: 16pt !important;
    border-radius: 7px !important;
}

.beginner_btn_container {
    margin-left: 3rem;
    padding: 10px 20px;
    position: relative;
}

.setting_btn {
    background-color: transparent !important;
}




@media (min-width: 768px) {
    .page1BodyContainer{
        padding:2rem 4rem 0 4rem;
    }
    .page1BodyContainerLight{
        padding:2rem 4rem 0 4rem;
    }
    .rocketImg{
        width: 240px;
        position: relative;
        top: 1.5rem;
        margin-left:0
        
    }
    .dotLogo{
        width: 120px;
    }
    .rect5-item1{
        width: 520px;
    }
    .rect5-item2{
        width: 520px;
    }
    .rect5{
        
        padding: 2rem 2rem;
    }
    .newsLetter{
        background: linear-gradient(to right, #2fabe6, #07528f);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: -3rem;
        margin-right: -3rem;
        padding:3rem;
        margin-top: 3rem;
        flex-direction: row;
    }
    .footer_container{
        padding-left: 2rem;
        margin-left: -3rem;
        margin-right: -3rem;
    }
    .slide{
        width: 200px;
        /* background-color: #13223e; */
        margin:40px;
        padding:20px;
    }
    .slideLight{
        width: 200px;
        background-color: #e9eaea;
        margin:40px;
        padding:20px;
        text-align: left !important;
    }
   
    .toolbarRight{
        width: 95%;
        text-align: right;
    }
}
